h1{
  text-decoration:underline;
}
h2{text-align:right;
}
p{
  font-family: ariel;
}
nav{
  position:relative; 
  float:right;
}
.container {
    color:light grey;
    min-height: 70px;
  }
  body{
  color:gray;
  height: 842px;
        width: 700px;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;
  }
  h2{
    text-align:center;
    text-decoration:underline;
  }
  h2.right{
    float:left;
  }
  div.righty{
    float:left;
  }
  h2.left{
    float:right;
  }
  div.lefty{
    float:right;
  }